:root {
    --red: #e63946;
    --darkWhite: #f1faee;
    --lightblue: #a8dadc;
    --mildBlue: #457b9d;
    --darkBlue: #1d3557;
    --white: white;
    --black: black;
    --buttonBorderRadius: 20px;
    --transitionDuration: 0.5s;
}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2, h3, h4, h5, button {
    font-family: 'Nunito Sans', sans-serif;
}

p, li, a  {
    font-family: 'Kanit', sans-serif;
}

// Header --Section
.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
    height: 9em;
    padding: 2em;
    max-width: 70em;
    margin: 0 auto;

    // For the mobile pop-up window
    .hamburgerMenu {
        height: 100%;
        display: flex;
        align-content: center;
        align-items: center;
        .hamburgerButtonOpen {
            display: flex;
            align-items: center; 
            height: 1em;
            font-size: 4em;
            border: none;
            background: none;
            text-shadow: 1px 1px var(--red);
            z-index: 2;
            cursor: pointer;
            transition-duration: var(--transitionDuration);
            &:hover {
                transform: scale(1.05);
                color: var(--red);
                text-shadow: 1px 1px var(--black);
            }
        }
        @media screen and (min-width: 850px) {
            display: none;
        }
        button {
            height: 1em;
            font-size: 2em;
            border: none;
            background: none;
            text-shadow: 1px 1px var(--red);
            cursor: pointer;
            transition-duration: var(--transitionDuration);
        }
    }
    // the left-side panel for the mobile header 
    .mobileSecton {
        display: none;
        position: absolute;
        background-color: var(--red);
        z-index: 2;
        top: 0;
        left: 0;
        bottom: 0;
        height: auto;
        width: 70%;
        max-width: 300px;
        box-shadow: inset -6px 0px 24px 10px var(--black);
        @media screen and (max-width: 850px) {
            display: block;
            transform: translateX(-120%);
            transition: var(--transitionDuration) ease-in-out;
            clip-path: polygon(0 0, 9% 91%, 100% 100%, 0% 100%);
        }
        .hamburgerMenu {
            height: auto;
            display: flex;
            align-content: center;
            align-items: center;
            .hamburgerButtonOpen {
                height: 1em;
                font-size: 2em;
                border: none;
                background: none;
                text-shadow: 1px 1px var(--red);
                cursor: pointer;
                transition-duration: var(--transitionDuration);
                &:hover {
                    transform: scale(1.05);
                    color: var(--red);
                    text-shadow: 1px 1px var(--black);
                }
            }
            @media screen and (min-width: 850px) {
                display: none;
            }
            .hamburgerButtonClose {
                height: 3em;
                margin-left: 1em;
                transform: scale(0%) rotate(900deg);
            }
            button {
                height: 1em;
                font-size: 2em;
                border: none;
                background: none;
                text-shadow: 1px 1px var(--white);
                cursor: pointer;
                transition-duration: var(--transitionDuration);
            }
        }
        .mobileitems {
            a {
                text-decoration: none;
                li {
                    list-style: none;
                    margin-left: 2em;
                    margin-bottom: 1.5em;
                    color: var(--white);
                    text-shadow: 1px 1px 1px var(--black);
                    font-size: larger;
                }
            }
        }
        .mobileSocial {
            position: absolute;
            bottom: 5%;
            .mobileSocialIconContainer {
                height: 100%;
                position: relative;
                padding-right: 1em;
                padding-left: 2.5em;
                a {
                    margin-right: 5px;
                    .socialIcon {
                        height: 2.5em;
                    }
                }
            }
        }
    }
    @keyframes rotateLogo {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(-360deg);
        }
    };

    // for the desktop header
    .leftSide {
        display: flex;
        flex-direction: row;
        .logoContainer {
            height: 100%;
            img {
                height: 100%;
                animation: rotateLogo 20s infinite linear;
            }
        }
        ul {
            display: flex;
            flex-direction: row;
            height: 100%;
            align-content: center;
            align-items: center;
            @media screen and (max-width: 850px) {
                display: none;
            }
            a {
                text-decoration: none;
                list-style: none;
                align-content: center;
                height: fit-content;
                margin-left: 2em;
                color: var(--darkBlue);
                transition-duration: var(--transitionDuration);
                &:hover {
                    color: var(--red);
                }
                @media screen and (max-width: 900px) {
                    & {
                        margin-left: 1em;
                    }
                }
            }
        }
    }
    .rightSide {
        display: flex;
        flex-direction: row;
        align-items: center;
        .socialMediaDiv {
            height: 100%;
            display: flex;
            align-items: center;
            @media screen and (max-width: 850px) {
                display: none;
            }
            a {
                margin-right: 1em;
                padding: 0;
                img {
                    height: 2em;
                    transition-duration: var(--transitionDuration);
                    &:hover {
                        filter: invert(31%) sepia(84%) saturate(4515%) hue-rotate(340deg) brightness(98%) contrast(83%);
                    }
                }
            }
        }
        .CTAbutton {
            button {
                height: 3em;
                width: 9em;
                background-color: var(--red);
                color: var(--darkWhite);
                border: none;
                border-radius: var(--buttonBorderRadius);
                margin-bottom: 0.2em;
                cursor: pointer;
                transition-duration: var(--transitionDuration);
                transform: scale(1) translate(0px, 0px);
                &:hover {
                    transform: scale(1.02) translate(-1px, -1px);
                    box-shadow: 3px 5px 0px 0px var(--black);
                }
            }
        }
    }
}

// The Hero --Section
.heroSection {
    height: 34em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    // hero section text
    .heroSectionContent {
        text-align: center;
        padding: 2em;
        h1 {
            font-size: 3em;
            margin-bottom: 1em;
            line-height: 1.3em;
            font-family: 'Rubik Microbe', cursive;
            span {
                color: var(--red);
            }
        }
        p {
            font-weight: bold;
            font-size: 1.3em;
            max-width: 600px;
            line-height: 1.5em;
        }
    }

    // hero section background

}