// CSS reset
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
label,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// Start of the custom CSS code below

:root {
    --red: #e63946;
    --darkWhite: #f1faee;
    --lightblue: #a8dadc;
    --mildBlue: #457b9d;
    --darkBlue: #1d3557;
    --white: white;
    --black: black;
    --buttonBorderRadius: 20px;
    --transitionDuration: 0.5s;
}

@mixin buttonStyle {
    margin-top: 2.2em;
    height: 3em;
    width: 9em;
    background-color: var(--red);
    color: var(--darkWhite);
    border: none;
    border-radius: var(--buttonBorderRadius);
    margin-bottom: 0.2em;
    cursor: pointer;
    transition-duration: var(--transitionDuration);
    transform: scale(1) translate(0px, 0px);
    &:hover {
        transform: scale(1.02) translate(-1px, -1px);
        box-shadow: 3px 5px 0px 0px var(--black);
    }
}

@mixin paragraphStyle {
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 1.5em;
}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2, h3, h4, h5, button, label, input {
    font-family: 'Nunito Sans', sans-serif;
}

p, li, a  {
    font-family: 'Kanit', sans-serif;
}

// Header --Section
.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
    height: 9em;
    padding: 2em;
    max-width: 70em;
    margin: 0 auto;

    // For the mobile pop-up window
    .hamburgerMenu {
        height: 100%;
        display: flex;
        align-content: center;
        align-items: center;
        .hamburgerButtonOpen {
            display: flex;
            align-items: center; 
            height: 1em;
            font-size: 4rem;
            border: none;
            background: none;
            text-shadow: 1px 1px var(--red);
            z-index: 2;
            cursor: pointer;
            transition-duration: var(--transitionDuration);
            &:hover {
                transform: scale(1.05);
                color: var(--red);
                text-shadow: 1px 1px var(--black);
            }
        }
        @media screen and (min-width: 850px) {  
            & { 
                display: none;
            }
        }
        button {
            height: 1em;
            font-size: 2rem;
            border: none;
            background: none;
            text-shadow: 1px 1px var(--red);
            cursor: pointer;
            transition-duration: var(--transitionDuration);
        }
    }

    // for the desktop header
    .leftSide {
        display: flex;
        flex-direction: row;
        .logoContainer {
            height: 100%;
            img {
                height: 100%;
                animation: rotateLogo 20s infinite linear;
            }
        }
        ul {
            display: flex;
            flex-direction: row;
            height: 100%;
            align-content: center;
            align-items: center;
            @media screen and (max-width: 849px) {
                display: none;
            }
            a {
                text-decoration: none;
                list-style: none;
                align-content: center;
                height: fit-content;
                margin-left: 2em;
                color: var(--darkBlue);
                transition-duration: var(--transitionDuration);
                &:hover {
                    color: var(--red);
                }
                @media screen and (max-width: 1200px) {
                    & {
                        margin-left: 1em;
                    }
                }
            }
        }
    }
    .rightSide {
        display: flex;
        flex-direction: row;
        align-items: center;
        .socialMediaDiv {
            height: 100%;
            display: flex;
            align-items: center;
            @media screen and (max-width: 849px) {
                & {
                    display: none;
                }
            }
            a {
                margin-right: 1em;
                padding: 0;
                img {
                    height: 2em;
                    transition-duration: var(--transitionDuration);
                    &:hover {
                        filter: invert(31%) sepia(84%) saturate(4515%) hue-rotate(340deg) brightness(98%) contrast(83%);
                    }
                }
            }
        }
        .CTAbutton {
            button {
                @include buttonStyle;
                margin: 0;
            }
        }
    }
}
// the left-side panel for the mobile header 
.mobileSecton {
    display: none;
    position: absolute;
    background-color: var(--red);
    z-index: 4;
    top: 0;
    left: 0;
    bottom: 0;
    width: 70%;
    height: 100%;
    max-width: 300px;
    box-shadow: inset -6px 0px 24px 10px var(--black);
    @media screen and (max-width: 850px) {
        display: block;
        transform: translateX(-120%);
        transition: var(--transitionDuration) ease-in-out;
        clip-path: polygon(0 0, 9% 91%, 100% 100%, 0% 100%);
    }
    .hamburgerMenu {
        height: auto;
        display: flex;
        align-content: center;
        align-items: center;
        .hamburgerButtonOpen {
            height: 1em;
            font-size: 2rem;
            border: none;
            background: none;
            text-shadow: 1px 1px var(--red);
            cursor: pointer;
            transition-duration: var(--transitionDuration);
            &:hover {
                transform: scale(1.05);
                color: var(--red);
                text-shadow: 1px 1px var(--black);
            }
        }
        @media screen and (min-width: 850px) {
            display: none;
        }
        .hamburgerButtonClose {
            height: 3em;
            margin-left: 1em;
            transform: scale(0%) rotate(900deg);
        }
        button {
            height: 1em;
            font-size: 2em;
            border: none;
            background: none;
            text-shadow: 1px 1px var(--white);
            cursor: pointer;
            transition-duration: var(--transitionDuration);
        }
    }
    .mobileitems {
        a {
            text-decoration: none;
            li {
                list-style: none;
                margin-left: 2em;
                margin-bottom: 1.5em;
                color: var(--white);
                text-shadow: 1px 1px 1px var(--black);
                font-size: larger;
            }
        }
    }
    .mobileSocial {
        position: absolute;
        bottom: 5%;
        .mobileSocialIconContainer {
            height: 100%;
            position: relative;
            padding-right: 1em;
            padding-left: 1.5em;
            display: flex;
            gap: 1em;
            @media screen and (max-width: 400px) {
                & {
                    gap: 0em;
                }
            }
            a {
                margin-right: 5px;
                .socialIcon {
                    height: 2.5em;
                    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(345deg) brightness(104%) contrast(101%);
                }
            }
        }
    }
}
@keyframes rotateLogo {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
};

// The Hero --Section
.heroSection {
    min-height: 35em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 4em;
    
    // hero section text
    .heroSectionContent {
        text-align: center;
        padding: 2em;
        z-index: 2;
        position: relative;
        justify-content: center;
        width: 100%;
        h1 {
            font-size: 10vmin;
            margin-bottom: 1em;
            line-height: 1.3em;
            font-family: 'Rubik Microbe', cursive;
            .SuperchargedText {
                transition: 7s;
                color: var(--black);
            }
            .textShowing {
                color: var(--red);
                text-shadow: 1px 1px 5px var(--black);
            }
        }
        p {
            font-weight: bold;
            font-size: 1.3rem;
            max-width: 600px;
            line-height: 1.5em;
            margin: 0 auto;
            text-shadow: 1px 1px 1px white;
        }
        .heroCTAbutton {
            @include buttonStyle;
        }
    }
    .heroSectionHueDiv {
        position: absolute;
        margin: 0 auto;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -1;
        .heroSectionHue {
            background: radial-gradient(circle, rgba(255,10,0,0.6) 0%, rgba(255,255,255,0.4360337885154062) 35%);            
            content: '';
            animation: heroHueBackground 7s ease forwards;
            height: 100%;
            width: 100%;
            transform: translateY(-1em);
        }
    }
    @keyframes heroHueBackground {
        0% {
            width: 10%;
            height: 10%;
        }
        100% {
            width: 100%;
            height: 100%;
        }
    }
}

// hero section background
.backgroundContainer {
    position: absolute;
    display: flex;
    flex-shrink: 0;
    height: 100vh;
    min-width: 100%;
    @media screen and (max-width: 1000px) {
        & {
            height: 50vh;
        }
    }
    .socialMediaIconContainer {
        min-height: 100%;
        min-width: 100%;
        position: absolute;
        z-index: 2;
        .socialMediaIcon {
            position: absolute;
            transition: var(--transitionDuration);
            height: 6em;
            z-index: 2;
        }
    }
    .socialIconContainer {
        min-height: 100%;
        min-width: 100%;
        position: absolute;
        .emojiIcon {
            position: absolute;
            transition: var(--transitionDuration);
            height: 6em;
        }
        .fire {
            top: 20%;
            right: 20%;
            transform: rotate(9deg);
        }
        .party {
            top: 57%;
            left: 6%;
            transform: rotate(27deg);
        }
        .grinning {
            top: 28%;
            left: 15%;
        }
        .lovingHearts {
            top: 5%;
            left: 10%;
            transform: rotate(-5deg);
        }
        .explodingFace {
            top: 60%;
            right: 9%;
            transform: rotate(12deg);
        }
        .lovingEyes {
            top: 3%;
            right: 5%;
        }
        @media screen and (max-width: 1000px) {
            .emojiIcon {
                display: none;
            }
        }
    }
    .FBsocialMediaIcon {
        top: 28%;
        right: 20%;
        animation: FacebookIconFloat 3s infinite ease-in-out;
    }
    .IGsocialMediaIcon {
        top: 60%;
        right: 25%;
        animation: InstagramIconFloat 2.5s infinite ease-in-out;
    }
    .SnapsocialMediaIcon {
        transform: scaleX(-1);
        top: 45%;
        left: 12%;
        animation: SnapchatIconFloat 2.8s infinite ease-in-out;
    }
    .TikToksocialMediaIcon {
        top: 65%;
        left: 27%;
        animation: TikTokIconFloat infinite ease-in-out 2.3s;
    }
    .TwittersocialMediaIcon {
        top: 1%;
        right: 37%;
        animation: TwitterIconFloat infinite ease-in-out 3.2s;
    }
    .YouTubesocialMediaIcon {
        top: 18%;
        left: 20%;
        animation: YouTubeIconFloat infinite ease-in-out 2.7s;
    }
    @media screen and (max-width: 1000px) {
        .FBsocialMediaIcon {
            top: 50%;
            right: 5%;
        }
        .IGsocialMediaIcon {
            top: 100%;
            right: 15%;
        }
        .SnapsocialMediaIcon {
            transform: scaleX(-1);
            top: 50%;
            left: 5%;
        }
        .TikToksocialMediaIcon {
            top: 100%;
            left: 15%;
        }
        .TwittersocialMediaIcon {
            top: 2%;
            right: 20%;
        }
        .YouTubesocialMediaIcon {
            left: 20%;
            top: 2%
        } 
    }
    // Floating animation for the social icons
    @keyframes FacebookIconFloat {
        0% {
            transform: translateY(0.5em) rotate(20deg);
        }
        50% {
            transform: translateY(-0.5em) rotate(20deg);
        }
        100% {
            transform: translateY(0.5em) rotate(20deg);
        }
    }
    @keyframes InstagramIconFloat {
        0% {
            transform: translateY(0.5em) rotate(5deg);
        }
        50% {
            transform: translateY(-0.5em) rotate(5deg);
        }
        100% {
            transform: translateY(0.5em) rotate(5deg);
        }
    }
    @keyframes SnapchatIconFloat {
        0% {
            transform: translateY(0.5em) scaleX(-1) rotate(24deg);   
        }
        50% {
            transform: translateY(-0.5em) scaleX(-1) rotate(24deg);
        }
        100% {
            transform: translateY(0.5em) scaleX(-1) rotate(24deg);
        }
    }
    @keyframes TikTokIconFloat {
        0% {
            transform: translateY(0.5em) rotate(-8deg);
        }
        50% {
            transform: translateY(-0.5em) rotate(-8deg);
        }
        100% {
            transform: translateY(0.5em) rotate(-8deg);
        }
    }
    @keyframes TwitterIconFloat {
        0% {
            transform: translateY(0.5em) rotate(5deg);
        }
        50% {
            transform: translateY(-0.5em) rotate(5deg);
        }
        100% {
            transform: translateY(0.5em) rotate(5deg);
        }
    }
    @keyframes YouTubeIconFloat {
        0% {
            transform: translateY(0.5em) rotate(-6deg);
        }
        50% {
            transform: translateY(-0.5em) rotate(-6deg);
        }
        100% {
            transform: translateY(0.5em) rotate(-6deg);
        }
    }
}

// Services --Section
.ourServicesSection {
    max-width: 70em;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-bottom: 4em;

    // the text on the left side
    .ourServicesContentDiv {
        padding: 0em 3em;
        width: 60%;
        max-width: 37em;
        height: 100%;
        h3 {
            margin-bottom: 1em;
            font-size: 1.7rem;
            font-weight: bolder;
        }
        p {
            @include paragraphStyle;
        }
        button {
            @include buttonStyle;
        }
    }

    // the text and images on the right side
    .ourServicesAnimation {
        overflow-x: hidden;
        width: 100%;
        .serviceSteps {
            display: flex;
            padding: 1em 3em;
            margin: 0 auto;
            max-width: 700px;
            img {
                margin: 0 auto;
                transition: var(--transitionDuration);
                opacity: 0;
                width: 40%;
                max-width: 150px;
            }
            .rightToLeftImg {
                transform:translateX(100%);
            }
            .leftToRightImg {
                transform: translateX(-100%);
            }
            &:nth-child(odd) {
                flex-direction: row-reverse;
            }
            &:nth-child(even) {
                flex-direction: row;
            }
            .servicesSectonText {
                align-self: center;
                padding: 1em;
                opacity: 0;
                transition: var(--transitionDuration) ease-out;
            }
            .servicesStepTitle {
                color: var(--red);
                text-shadow: 1px 1px 1px black;
                transition: var(--transitionDuration) ease-out;
            }
            .serviceStepIcon {
                object-fit: contain;
            }
            @media screen and (max-width: 500px) {
                & {
                    padding: 1em 0.5em;
                }
            }
        }
        .showingServices {
            &:nth-child(odd) {
                flex-direction: row;
            }
            &:nth-child(even) {
                flex-direction: row-reverse;
            }
            .servicesSectonText, 
            .servicesStepTitle {
                opacity: 1;
            }
            .serviceStepIcon {
                transform: translateX(0%);
                opacity: 1;
            }
        }
    }

    // mobile friendly
    @media screen and (max-width: 900px) {
        & {
            flex-direction: column;
            .ourServicesContentDiv {
                padding: 0em 2em;
                width: 100%;
                h3 {
                    font-size: 1.5rem;
                }    
                p {
                    font-size: 1.1rem;
                }            
                button {
                    margin-bottom: 5em;
                }
            }
        }
    }
}

// Contact Us Form --Section
.contactUsContainer {
    height: 100%;
    width: 100%;
    .contactUsform {
        height: 100%;
        width: 80%;
        padding: 1em 3em;
        max-width: 1000px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .contactUsHeading {
            grid-column-start: 1;
            grid-column-end: 3;
            text-align: center;
            margin: 2em 0em;
            font-size: 2rem;
        }
        .contactFormSubmit {
            grid-column-start: 1;
            grid-column-end: 3;
            text-align: center;
            @include buttonStyle;
            margin: 0 auto;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
        .basicInfo {
            width: 100%;
            max-width: 100%;
            input {
                margin-bottom: 1em;
                max-width: 800px;
                width: 80%;
            }
            textarea {
                max-width: 80%;
                width: 80%;
                min-height: 120px;
            }
            @media screen and (max-width: 400px) {
                & {
                    grid-column-start: 1;
                    grid-column-end: 3;
                }
            }
        }
        .moreContext {
            width: 100%;
            position: relative;
            .emailUsIcon {
                position: absolute;
                right: 0;
                top: 5%;
                width: 50%;
            }
            h4 {
                position: relative;
                margin-bottom: 1em;
                width: fit-content;
                &:after {
                    position: absolute;
                    content: '';
                    height: 1px;
                    width: 100%;
                    background-color: var(--red);
                    bottom: 0;
                    left: 0;
                }
            }
            .platformOptions {
                width: 100%;
                position: relative;
                div {
                    display: flex;
                    margin: 0 auto;
                    label {
                        align-self: center;
                        min-width: 70px;
                    }
                    input {
                        float: right;
                    }
                }
                .check-box {
                    transform: scale(0.4);
                }
                input[type="checkbox"] {
                    position: relative;
                    appearance: none;
                    width: 100px;
                    height: 50px;
                    background: #ccc;
                    border-radius: 50px;
                    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
                    cursor: pointer;
                    transition: 0.4s;
                }
                input:checked[type="checkbox"] {
                    background: var(--red);
                }
                input[type="checkbox"]::after {
                    position: absolute;
                    content: "";
                    width: 50px;
                    height: 50px;
                    top: 0;
                    left: 0;
                    background: #fff;
                    border-radius: 50%;
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
                    transform: scale(1.1);
                    transition: 0.4s;
                }
                input:checked[type="checkbox"]::after {
                    left: 50%;
                }
            }
            @media screen and (max-width: 400px) {
                & {
                    grid-column-start: 1;
                    grid-column-end: 3;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    h4 {
                        margin: 0 auto;
                        margin-top: 1em;
                        margin-bottom: 1em;
                    }
                    .platformOptions {
                        margin: 0 auto;
                        div {
                            justify-content: center;
                        }
                    }
                    .emailUsIcon {
                        display: none;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 800px) {
        .contactUsform {
            width: 95%;
            padding: 1em 0em;
            .basicInfo {
                input {
                    margin-bottom: 1em;
                    max-width: 800px;
                    width: 90%;
                }
                textarea {
                    max-width: 90%;
                    width: 90%;
                }
            }
        } 
    }
    @media screen and (max-width: 400px) {
        .contactUsform {
            width: 100%;
            padding: 1em 0em;
            .basicInfo {
                padding: 0em 1em;
                input {
                    margin-bottom: 1em;
                    max-width: 800px;
                    width: 100%;
                }
                textarea {
                    max-width: 100%;
                    width: 100%;
                }
            }
        } 
    }
}


// --Footer section
.footer {
    background-color: #E63946; background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='144' height='144' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23cd1b34' fill-opacity='0.33'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.33'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
    padding: 1rem 3rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    .quickLnks {
        width: 100%;
        margin: 1rem 0rem;
        ul {
            list-style: none;
            display: flex;
            gap: 1rem;
            @media screen and (max-width: 430px) {
                & {
                    flex-direction: column;
                    a {
                        margin: 0 auto;
                    }
                }
            }
            a {
                text-decoration: none;
                li {
                    color: white;
                    transition: var(--transitionDuration);
                    &:hover {
                        color: black;
                    }
                }
            }
        }
    }
    .newsletter {
        width: 100%;
        margin: 0 auto;
        margin: 1rem 0rem;
        .newsletterSubmission {
            display: flex;
            width: 100%;
            display: flex;
            justify-content: center;
            .newsletterEmailInput {
                display: flex;
                flex-direction: column;
                justify-content: right;
                input {
                    width: 100%;
                    max-width: 250px;
                }
                label {
                    color: white;
                }
            }
            .newsletterButton {
                margin-left: 1rem;
                background: white;
                color: black;
                border: none;
                padding: 5px;
                cursor: pointer;
                transition: var(--transitionDuration);
                &:hover {
                    background: black;
                    color: white;
                    transform: scale(1.02);
                }
            }            
        }
    }
    .footerSocialLinks {
        display: flex;
        justify-content: right;
        width: 100%;
        margin: 1rem 0rem;
        a {
            img {
                height: 2.5rem;
                transition: var(--transitionDuration);
                filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(345deg) brightness(104%) contrast(101%);
                &:hover {
                    filter: none;
                }
            }
        }
    }
    @media screen and (max-width: 1100px) {
        & {
            flex-direction: column;
        }
        .quickLnks {
            justify-content: center;
            ul {
                justify-content: center; 
            }
        }
        .footerSocialLinks {
            justify-content: center;
            gap: 1rem;
        }
    }
    @media screen and (max-width: 400px) {
        padding: 1rem 0.5rem;
    }
}